.accountbox {
    display:grid;
    grid-template-columns:1fr 10fr 1fr;
    grid-template-rows:1fr 2fr 2fr 2fr 2fr 2fr 3fr;
    grid-template-areas:
    ". canon ."
    ". username ."
    ". password ."
    ". password2 ."
    ". email ."
    ". place ."
    ". sign .";
}
.canon {
    grid-area:canon;
    display:flex;
    justify-content:center;
    align-content:center;
    
  
}
.logo {
    width:15rem;
}
.username {
    grid-area:username;
    display:flex;
    justify-content:center;
    align-content:center;
    height:2rem;
    margin-top:1rem;
}
.password {
    grid-area:password;
    display:flex;
    justify-content:center;
    align-content:center;
    height:2rem;
    margin-top:1rem;
    
}
.password2 {
    grid-area:password2;
    display:flex;
    justify-content:center;
    align-content:center;
    height:2rem;
    margin-top:1rem;
}
.email {
    grid-area:email;
    display:flex;
    justify-content:center;
    align-content:center;
    height:2rem;
    margin-top:1rem;
}
.home {
    grid-area:place;
    display:flex;
    justify-content:center;
    align-content:center;
    height:2rem;
    margin-top:1rem;
}
.sign {
    grid-area:sign;
    display:flex;
    justify-content:center;
    align-content:center;
    height:2rem;
    margin-top:1rem;
}