* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.logoa {
  display:grid;
  grid-template-columns:2fr 4fr 2fr;
  grid-template-rows:1fr;
  grid-template-areas:
  "logo . upscreen";
grid-area:addition;
}
.logo {
  width: 28vh;
  margin-top: 1rem;
  margin-left: 4vh;
  grid-area:logo;

}
.navbar-fixed {
  height:11.3vh !important;
}
.bottom-nav {
  height:12.5vh;
}

.nav-wrapper {
  

}
#topper {
  display:grid;
  grid-template-columns:5fr 5fr;
  grid-template-rows:1fr;
  grid-template-areas:
  "addition addition"
}



/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  background-color: white;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  height:12.5vh;
  z-index: 100;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 25%;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #F10F0F;
  color: white;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  width:100vw !important;
  height:auto
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #F10F0F;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;

}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}



#upborder {
  height: 86vw;
  width: 80vw;
  margin: auto;
  display:grid;
  grid-template-columns:0.5fr 5fr 0.5fr;
grid-template-rows:4fr;
grid-template-areas:
" . preview . ";
margin-top:5rem;
background-color: #F67C0A;

}

#uploader {
  width: 28.5vh;
  height: 6vh;
  margin-top: 5vh;
grid-area:upbutt;
border:none;

background: rgba(255, 255, 255, 0.28);
color:rgba(0, 0, 0, 0.28);
border-radius: 20px;
}
.reversea {
  display:grid;
  grid-area:addition;
  grid-template-columns:1fr 3fr 1fr;
  grid-template-rows:1fr;
  grid-template-areas:
  ". chevron ."
}
#reversered {
  height: 11.3vh;
}
#reverse {
  width: 15vw;
  height: 8.3vh;
  margin-top: 1.4vh;
  margin-left: 80vw;
  transform: rotate(180deg);
}
  #uploaderh {
    margin:auto;
    display:grid;
    grid-template-columns:2.5fr 5fr 2fr;
    grid-template-rows:1fr;
    grid-template-areas:
    ". upbutt .";
  }
progress  {
  display: inline-block;
    vertical-align: baseline;
    -webkit-appearance: none;
    width: 28.7vh;
  
}
progress::-webkit-progress-value {
  background-color:#F10F0F;
  border-radius:10vh;
}
progress::-webkit-progress-bar  {
background-color:rgba(241, 15, 15, 0.555);
    border-radius:10vh;
}


#preview {

  width: 17vh;
  height: 17vh;
  margin: 5.8vh;
}

#chooserplace {
  display:flex;
  justify-content:center;
  align-items:center;
margin-top:2vh;
margin-bottom:3vh;
color:white;

font-size:2vh;
font-family: 'Work Sans', sans-serif !important;
background: #4588A9;
height: 5vh;
border-radius: 0.5rem;
}


#previewholder {
  background-color: #F67C0A;
  width: 28.8vh;
  height: 28.8vh;
  margin-top: 2rem;
  grid-area:preview;
  margin:auto;
  border:0.6px solid black;
}



#upscreen {
  grid-area:upscreen;
  width:2.4rem;
}
.uploy {
  position: absolute;
  top: 10px;
  right: 25px;
  width:7vh;
}
input[type=file]{ 
  color:transparent;
}

.carosimg {
  height:48vh;
  background-color:grey;
  width:100%;
}
#picture {
  width:100vw;
  height:90vh;
}
#fullslides {
  height:48vh;
}





/*home nav */
#picnav {
  background-color:white;
  box-shadow: 0px 6px 3px rgba(0, 0, 0, 0.35);
  height:11.5vh !important;
}

#upload {
  width:100vw;
  height:100vh;
  display:block;
}

#fillerpage {
  height:100vh;
  background-color:#F10F0F;
  width:100vw;
}
#fillerimage {
  width:80vw;
  margin-left:10vw;
  margin-right:10vw;
  margin-top:45vh;
}


#picmain {
  height:75.4vh;
  width:100vw;
  overflow-y:scroll
}

.picdescrip {
  position:absolute;
  background-color:rgba(255,255,255,0.5);
  width:20vh;
  margin-top:-10vh;
  font-size:2vh;
  box-shadow:0vh 0.3vh rgb(0,0,0,0.3);
  padding-left:2vh;
}
.longscroll {
  display:inline;
  width:100vw;
}
.longscrollimg {
  width:32vw;
  height:30vw;
  padding-left:3vw;
}
#viewpage {
  display:grid;
  grid-template-rows:  5fr;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-areas:
  "imagex imagex imagex";
  width:100vw;
  height:100vh;
}

#viewimage {
 width: 100vw;

    /*dont change height, it stretches it */

    grid-area: imagex;
    align-self: center;
}
#exnav {
    position:absolute;
    margin-left: 75vw;
    margin-top: 4vh;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
#exitview {
  width:10vh;
}
.refresh{
  color: black;
    font-size: 1.8vh;
    align-self: center;
    margin: auto;
}
.refreshb{
  border-radius: 2vh;
  padding: 1vh;
  width: 30vw;
  height: 3vh;
  display:flex;
  border: white;
  background-color: lightgray;

}
.refreshdiv{
  display: flex;
  justify-content: center;
  margin: 1vh;
}