* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
.logoa {
  display:grid;
  grid-template-columns:2fr 4fr 2fr;
  grid-template-rows:1fr;
  grid-template-areas:
  "logo . upscreen";
grid-area:addition;
}
.logo {
  width: 10rem;
  margin-top: 1rem;
  margin-left: 2rem;
  grid-area:logo;

}

.nav-wrapper {
  

}
#topper {
  background-color: white;
  display:grid;
  grid-template-columns:5fr 5fr;
  grid-template-rows:1fr;
  grid-template-areas:
  "addition addition"
}



/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 25%;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #F10F0F;
  color: white;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  width:100vw !important;
  height:90vw
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}



#upborder {
  border:solid 1px black;
  height: 80vw;
  width: 80vw;
  margin: auto;
  display:grid;
  grid-template-columns:0.5fr 5fr 0.5fr;
grid-template-rows:3fr 1fr;
grid-template-areas:
" . preview . "
". up .";
margin-top:5rem;

}

#uploader {
  height: 10vw;
  border-radius: 0.8rem;
  width: 30vw;
  background-color:grey;
  border: none;
  margin:auto;
  margin-top: 1.4rem;
  grid-area:up;
}
.reversea {
  display:grid;
  grid-area:addition;
  grid-template-columns:1fr 3fr 1fr;
  grid-template-rows:1fr;
  grid-template-areas:
  ". chevron ."
}

#reverse {
  width: 100vw;
  height: 5rem;
  grid-area:chevron;
  
  transform: rotate(180deg);

}
  

#uploa {
  transform: rotate(90deg);
  width: 9vw;
  height: 30vw;
  margin-left: auto;
  margin-top:-10.6vw;
}

#preview {

  width: 50vw;
  height: 50vw;
}

#chooser {
 
}


#previewholder {
  background-color: rgb(163, 162, 162);
  width: 50vw;
  height: 50vw;
  margin-top: 2rem;
  grid-area:preview;
  margin:auto;
}


.carosimg {
  width: 100%;
  height: 26.2rem;
}
#upscreen {
  grid-area:upscreen;
  width:2.4rem;
}
.uploy {
  margin-top:1rem;
  margin-left:auto;
  margin-right:auto;
  width:2.4rem;
}
input[type=file]{ 
  color:transparent;
}

.carosimg {
  height:70vw;
  height:80vw;
  background-color:grey;
}
#picture {
  width:100vw;
}
#fullslides {
  height:80vw;
}
.setting-box {
  border-bottom:1px solid black;
}
#setgrid {
  display:block;
  overflow:scroll;
  height:28rem;
  
}
#set1 {
  grid-area:set1;
}
#set2 {
  grid-area:set2;
}
#set3 {
  grid-area:set3;
}
#set4 {
  grid-area:set4;
}
#set5 {
  grid-area:set5;
}
#set6 {
  grid-area:set6;
}

.sethead {
  margin-left: 2rem;
  font-size:7.5vw;
  margin-top:3vh;
  margin-bottom:3vh;
  color:black;
}
.setext {
  margin-left: 2rem;
  font-size:3.75vw;
  color:rgb(99, 97, 97);
  margin-top:3vh;
  margin-bottom:3vh;
}
.sidenav {
  border:1px solid black;
}
.setcirc {
 border-radius:20rem;
 height:2.6rem;
 width:2.6rem;
 margin:auto;
}
#setheme{
display:grid;
grid-template-columns:1fr 2fr 3fr 2fr 1fr;
grid-template-rows: 1fr 2fr 1fr;
grid-template-areas:
". Theme Theme Theme ."
". light . dark ."
". ltext . dtext .";
}
#themetop {
  grid-area:Theme;
  margin:auto;
  font-size:2rem;
}
#light {
  grid-area:light;
  border:solid 1px black;
  background-color:white;

}
#dark {
  grid-area:dark;
  border:solid 1px white;
  background-color:black;
}
#ltext {
  grid-area:ltext;
  margin:auto;
}
#dtext {
  grid-area:dtext;
  margin:auto;
}



.setcolor {
  border:solid black 1px;
  height:2.8rem;
  width:2.8rem;
  border-radius:2rem;
  margin:auto;
}
#setbar {
  display:grid;
  grid-template-rows:1fr 1fr 1fr 1fr 0.3fr 1fr;
  grid-template-columns:0.4fr 1fr 1fr 1fr 1fr 0.4fr;
  grid-template-areas:
  ". colorhead colorhead colorhead colorhead ."
  ". colorpage colorpage colorpage colorpage ."
  ". colortheme colortheme colortheme colortheme ."
  ". colorr colorb colorg colorw ."
  ". . . . . ."
  ". colorpu colory coloro colorpi .";
}
#colorhead {
  grid-area:colorhead;
  margin:auto;
  font-size:2rem;
}
#colorpage {
  grid-area:colorpage;
  margin:auto;
  border:solid 1px black;
  width:9rem;
  height:2rem;
}
#colortheme {
  grid-area:colortheme;
  margin:auto;
}
#colorr {
  grid-area:colorr;
  background-color:#F10F0F;
}
#colorb {
  grid-area:colorb;
  background-color:#4588A9 ;
}
#colorg {
  grid-area:colorg;
  background-color:rgba(0, 191, 0, 0.7) ;
}
#colorw {
  grid-area:colorw;
  background-color:white;
}
#colorpu {
  grid-area:colorpu;
  background-color:#DC06A0;
}
#colory {
  grid-area:colory;
  background-color:#EAEE18;
}
#coloro {
  grid-area:coloro;
  background-color:#F77C0A;
}
#colorpi {
  grid-area:colorpi;
  background-color:#FF76B8;
}
