#prize {
    width:100vw;
    height:90vh;
  }
  #prinav {
    background-color:#B82525;
    box-shadow: 0px 6px 3px rgba(0, 0, 0, 0.35);
    height:11.5vh !important;
  }
  #usersbio {
    height:25vh;
    border-bottom:1px solid orange;
    padding-left: 2vw;
    padding-right: 2vw;
  }
  #userscroll {
    margin-top:2vh;
    height:51vh
  }
  .yourscrollimg {
    width:32vw;
    height:30vw;
    padding-left:3vw; 
  }
  .info{
    justify-content: center;
    text-align: center;
    font-size: 4.5vw;
    color: mediumaquamarine;
  }
  .name{
    font-weight: bold;
  }